display:
  width: 1200
  height: 900
  update_frequency: 60

drone:
  mass: [0.1, 0.1, 1] # Min, Default, Max
  inertia: [0.1, 0.3, 2] # Min, Default, Max
  gravity: [1, 0, 1] # KEEP CONSTANT
  motors:
    - [-0.5, 0, 0, 50]
    - [0, 0, 0, 50]
    - [0.5, 0, 0, 50] # X offset from drone center, Y offset from drone center, rotation relative to drone center, thrust

environment:
  randomize_start_state: True
  num_targets: 3
  domain_randomization: False
  domain_knowledge: False
  domain_estimation: False # Whether to use true or estimated parameters

training:
  num_envs: 16
  max_episode_steps: 1000
  episodes: 10000
  reward_threshold: 10000
